@charset "UTF-8";

@font-face {
  font-family: "line-icons";
  src:url("line-icons.eot");
  src:url("line-icons.eot?#iefix") format("embedded-opentype"),
    url("line-icons.woff") format("woff"),
    url("line-icons.ttf") format("truetype"),
    url("line-icons.svg#line-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  /*font-size: inherit;*/
  /*font-size: 1.2em;*/
}

[data-icon]:before {
  font-family: "line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  /*font-size: inherit;*/
  /*font-size: 1.2em;*/
  line-height: 1;
  /*line-height: 1.4;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gvicon-"]:before,
[class*=" gvicon-"]:before {
  font-family: "line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /*font-size: 1.2em;*/
  speak: none;
  line-height: 1;
  /*line-height: 1.4;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.gv {
  display: inline-block;
  vertical-align: text-bottom;
  /*font-family: FontAwesome;*/
  font-family: "line-icons" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* RR: ADDED */
  /*font-size: 1.33333333em;*/
  /*line-height: 0.75em;*/
}

/* makes the font 33% larger relative to the icon container */
.gv-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}


/* gvis_menu.php - position menu left/right */
.icon-left {
  float:left !important;
  /*text-align: left;*/
  display: inline-block !important; 
  width: 28px;
}

.icon-right {
  float:right !important; 
  display: inline-block !important; 
  width: 28px;
}




.gvicon-bio:before { content: "\e0a6"; }



.gvicon-alerts-01:before {
  content: "a";
}
.gvicon-alerts-02:before {
  content: "b";
}
.gvicon-alerts-03:before {
  content: "c";
}
.gvicon-alerts-04:before {
  content: "d";
}
.gvicon-alerts-05:before {
  content: "e";
}
.gvicon-alerts-06:before {
  content: "f";
}
.gvicon-alerts-07:before {
  content: "g";
}
.gvicon-alerts-08:before {
  content: "h";
}
.gvicon-alerts-09:before {
  content: "i";
}
.gvicon-alerts-10:before {
  content: "j";
}
.gvicon-alerts-11:before {
  content: "k";
}
.gvicon-alerts-12:before {
  content: "l";
}
.gvicon-alerts-13:before {
  content: "m";
}
.gvicon-arrows-08:before {
  content: "n";
}
.gvicon-arrows-07:before {
  content: "o";
}
.gvicon-arrows-06:before {
  content: "p";
}
.gvicon-arrows-05:before {
  content: "q";
}
.gvicon-arrows-03:before {
  content: "r";
}
.gvicon-arrows-04:before {
  content: "s";
}
.gvicon-arrows-02:before {
  content: "t";
}
.gvicon-arrows-01:before {
  content: "u";
}
.gvicon-alerts-18:before {
  content: "v";
}
.gvicon-alerts-17:before {
  content: "w";
}
.gvicon-alerts-16:before {
  content: "x";
}
.gvicon-alerts-15:before {
  content: "y";
}
.gvicon-alerts-14:before {
  content: "z";
}
.gvicon-arrows-09:before {
  content: "A";
}
.gvicon-arrows-10:before {
  content: "B";
}
.gvicon-arrows-11:before {
  content: "C";
}
.gvicon-arrows-12:before {
  content: "D";
}
.gvicon-arrows-13:before {
  content: "E";
}
.gvicon-arrows-14:before {
  content: "F";
}
.gvicon-arrows-15:before {
  content: "G";
}
.gvicon-arrows-16:before {
  content: "H";
}
.gvicon-arrows-22:before {
  content: "I";
}
.gvicon-arrows-17:before {
  content: "J";
}
.gvicon-arrows-18:before {
  content: "K";
}
.gvicon-arrows-19:before {
  content: "L";
}
.gvicon-arrows-20:before {
  content: "M";
}
.gvicon-arrows-21:before {
  content: "N";
}
.gvicon-arrows-30:before {
  content: "O";
}
.gvicon-arrows-31:before {
  content: "P";
}
.gvicon-arrows-32:before {
  content: "Q";
}
.gvicon-arrows-33:before {
  content: "R";
}
.gvicon-arrows-34:before {
  content: "S";
}
.gvicon-arrows-23:before {
  content: "O";
}
.gvicon-arrows-24:before {
  content: "T";
}
.gvicon-arrows-25:before {
  content: "U";
}
.gvicon-arrows-26:before {
  content: "V";
}
.gvicon-arrows-27:before {
  content: "W";
}
.gvicon-arrows-28:before {
  content: "X";
}
.gvicon-arrows-29:before {
  content: "Y";
}
.gvicon-arrows-36:before {
  content: "Z";
}
.gvicon-arrows-37:before {
  content: "0";
}
.gvicon-arrows-38:before {
  content: "1";
}
.gvicon-arrows-39:before {
  content: "2";
}
.gvicon-arrows-40:before {
  content: "3";
}
.gvicon-arrows-41:before {
  content: "4";
}
.gvicon-badges-votes-01:before {
  content: "5";
}
.gvicon-badges-votes-02:before {
  content: "6";
}
.gvicon-arrows-30:before {
  content: "7";
}
.gvicon-badges-votes-03:before {
  content: "8";
}
.gvicon-badges-votes-04:before {
  content: "9";
}
.gvicon-badges-votes-05:before {
  content: "!";
}
.gvicon-badges-votes-06:before {
  content: "\"";
}
.gvicon-arrows-35:before {
  content: "#";
}
.gvicon-badges-votes-07:before {
  content: "$";
}
.gvicon-badges-votes-08:before {
  content: "%";
}
.gvicon-badges-votes-09:before {
  content: "&";
}
.gvicon-badges-votes-10:before {
  content: "'";
}
.gvicon-badges-votes-11:before {
  content: "(";
}
.gvicon-badges-votes-12:before {
  content: ")";
}
.gvicon-badges-votes-13:before {
  content: "*";
}
.gvicon-badges-votes-14:before {
  content: "+";
}
.gvicon-badges-votes-15:before {
  content: ",";
}
.gvicon-badges-votes-16:before {
  content: "-";
}
.gvicon-chat-messages-01:before {
  content: ".";
}
.gvicon-chat-messages-02:before {
  content: "/";
}
.gvicon-chat-messages-03:before {
  content: ":";
}
.gvicon-chat-messages-04:before {
  content: ";";
}
.gvicon-chat-messages-05:before {
  content: "<";
}
.gvicon-chat-messages-06:before {
  content: "=";
}
.gvicon-chat-messages-07:before {
  content: ">";
}
.gvicon-chat-messages-08:before {
  content: "?";
}
.gvicon-chat-messages-09:before {
  content: "@";
}
.gvicon-chat-messages-10:before {
  content: "[";
}
.gvicon-chat-messages-11:before {
  content: "]";
}
.gvicon-chat-messages-12:before {
  content: "^";
}
.gvicon-chat-messages-13:before {
  content: "_";
}
.gvicon-chat-messages-14:before {
  content: "`";
}
.gvicon-chat-messages-15:before {
  content: "{";
}
.gvicon-chat-messages-16:before {
  content: "|";
}
.gvicon-documents-bookmarks-01:before {
  content: "}";
}
.gvicon-documents-bookmarks-02:before {
  content: "~";
}
.gvicon-documents-bookmarks-03:before {
  content: "\";
}
.gvicon-documents-bookmarks-04:before {
  content: "\e000";
}
.gvicon-documents-bookmarks-05:before {
  content: "\e001";
}
.gvicon-documents-bookmarks-06:before {
  content: "\e002";
}
.gvicon-documents-bookmarks-07:before {
  content: "\e003";
}
.gvicon-documents-bookmarks-08:before {
  content: "\e004";
}
.gvicon-documents-bookmarks-09:before {
  content: "\e005";
}
.gvicon-documents-bookmarks-10:before {
  content: "\e006";
}
.gvicon-documents-bookmarks-11:before {
  content: "\e007";
}
.gvicon-documents-bookmarks-12:before {
  content: "\e008";
}
.gvicon-documents-bookmarks-13:before {
  content: "\e009";
}
.gvicon-documents-bookmarks-14:before {
  content: "\e00a";
}
.gvicon-documents-bookmarks-15:before {
  content: "\e00b";
}
.gvicon-documents-bookmarks-16:before {
  content: "\e00c";
}
.gvicon-ecology-01:before {
  content: "\e00d";
}
.gvicon-ecology-02:before {
  content: "\e00e";
}
.gvicon-ecology-03:before {
  content: "\e00f";
}
.gvicon-ecology-04:before {
  content: "\e010";
}
.gvicon-ecology-05:before {
  content: "\e011";
}
.gvicon-ecology-06:before {
  content: "\e012";
}
.gvicon-ecology-07:before {
  content: "\e013";
}
.gvicon-ecology-08:before {
  content: "\e014";
}
.gvicon-ecology-09:before {
  content: "\e015";
}
.gvicon-ecology-10:before {
  content: "\e016";
}
.gvicon-ecology-11:before {
  content: "\e017";
}
.gvicon-ecology-12:before {
  content: "\e018";
}
.gvicon-ecology-13:before {
  content: "\e019";
}
.gvicon-ecology-14:before {
  content: "\e01a";
}
.gvicon-ecology-15:before {
  content: "\e01b";
}
.gvicon-ecology-16:before {
  content: "\e01c";
}
.gvicon-education-science-01:before {
  content: "\e01d";
}
.gvicon-education-science-02:before {
  content: "\e01e";
}
.gvicon-education-science-03:before {
  content: "\e01f";
}
.gvicon-education-science-04:before {
  content: "\e020";
}
.gvicon-education-science-05:before {
  content: "\e021";
}
.gvicon-education-science-06:before {
  content: "\e022";
}
.gvicon-education-science-07:before {
  content: "\e023";
}
.gvicon-education-science-08:before {
  content: "\e024";
}
.gvicon-education-science-09:before {
  content: "\e025";
}
.gvicon-education-science-10:before {
  content: "\e026";
}
.gvicon-education-science-11:before {
  content: "\e027";
}
.gvicon-education-science-12:before {
  content: "\e028";
}
.gvicon-education-science-13:before {
  content: "\e029";
}
.gvicon-education-science-14:before {
  content: "\e02a";
}
.gvicon-education-science-15:before {
  content: "\e02b";
}
.gvicon-education-science-16:before {
  content: "\e02c";
}
.gvicon-education-science-17:before {
  content: "\e02d";
}
.gvicon-education-science-18:before {
  content: "\e02e";
}
.gvicon-education-science-19:before {
  content: "\e02f";
}
.gvicon-education-science-20:before {
  content: "\e030";
}
.gvicon-emoticons-01:before {
  content: "\e031";
}
.gvicon-emoticons-02:before {
  content: "\e032";
}
.gvicon-emoticons-03:before {
  content: "\e033";
}
.gvicon-emoticons-04:before {
  content: "\e034";
}
.gvicon-emoticons-05:before {
  content: "\e035";
}
.gvicon-emoticons-06:before {
  content: "\e036";
}
.gvicon-emoticons-07:before {
  content: "\e037";
}
.gvicon-emoticons-08:before {
  content: "\e038";
}
.gvicon-emoticons-09:before {
  content: "\e039";
}
.gvicon-emoticons-10:before {
  content: "\e03a";
}
.gvicon-emoticons-11:before {
  content: "\e03b";
}
.gvicon-emoticons-12:before {
  content: "\e03c";
}
.gvicon-emoticons-13:before {
  content: "\e03d";
}
.gvicon-emoticons-14:before {
  content: "\e03e";
}
.gvicon-emoticons-15:before {
  content: "\e03f";
}
.gvicon-emoticons-16:before {
  content: "\e040";
}
.gvicon-emoticons-17:before {
  content: "\e041";
}
.gvicon-emoticons-18:before {
  content: "\e042";
}
.gvicon-emoticons-19:before {
  content: "\e043";
}
.gvicon-emoticons-20:before {
  content: "\e044";
}
.gvicon-emoticons-21:before {
  content: "\e045";
}
.gvicon-emoticons-22:before {
  content: "\e046";
}
.gvicon-emoticons-23:before {
  content: "\e047";
}
.gvicon-emoticons-24:before {
  content: "\e048";
}
.gvicon-emoticons-25:before {
  content: "\e049";
}
.gvicon-emoticons-26:before {
  content: "\e04a";
}
.gvicon-emoticons-27:before {
  content: "\e04b";
}
.gvicon-emoticons-28:before {
  content: "\e04c";
}
.gvicon-emoticons-29:before {
  content: "\e04d";
}
.gvicon-emoticons-30:before {
  content: "\e04e";
}
.gvicon-emoticons-31:before {
  content: "\e04f";
}
.gvicon-emoticons-32:before {
  content: "\e050";
}
.gvicon-emoticons-33:before {
  content: "\e051";
}
.gvicon-emoticons-34:before {
  content: "\e052";
}
.gvicon-emoticons-35:before {
  content: "\e053";
}
.gvicon-emoticons-artboard-80:before {
  content: "\e054";
}
.gvicon-faces-users-01:before {
  content: "\e055";
}
.gvicon-faces-users-02:before {
  content: "\e056";
}
.gvicon-faces-users-03:before {
  content: "\e057";
}
.gvicon-faces-users-04:before {
  content: "\e058";
}
.gvicon-faces-users-05:before {
  content: "\e059";
}
.gvicon-faces-users-06:before {
  content: "\e05a";
}
.gvicon-faces-users-07:before {
  content: "\e05b";
}
.gvicon-filetypes-01:before {
  content: "\e05c";
}
.gvicon-filetypes-02:before {
  content: "\e05d";
}
.gvicon-filetypes-03:before {
  content: "\e05e";
}
.gvicon-filetypes-04:before {
  content: "\e05f";
}
.gvicon-filetypes-05:before {
  content: "\e060";
}
.gvicon-filetypes-06:before {
  content: "\e061";
}
.gvicon-filetypes-07:before {
  content: "\e062";
}
.gvicon-filetypes-08:before {
  content: "\e063";
}
.gvicon-filetypes-09:before {
  content: "\e064";
}
.gvicon-filetypes-10:before {
  content: "\e065";
}
.gvicon-filetypes-11:before {
  content: "\e066";
}
.gvicon-filetypes-12:before {
  content: "\e067";
}
.gvicon-filetypes-13:before {
  content: "\e068";
}
.gvicon-filetypes-14:before {
  content: "\e069";
}
.gvicon-filetypes-15:before {
  content: "\e06a";
}
.gvicon-filetypes-16:before {
  content: "\e06b";
}
.gvicon-filetypes-17:before {
  content: "\e06c";
}
.gvicon-food-01:before {
  content: "\e06d";
}
.gvicon-food-02:before {
  content: "\e06e";
}
.gvicon-food-03:before {
  content: "\e06f";
}
.gvicon-food-04:before {
  content: "\e070";
}
.gvicon-food-05:before {
  content: "\e071";
}
.gvicon-food-06:before {
  content: "\e072";
}
.gvicon-food-07:before {
  content: "\e073";
}
.gvicon-food-08:before {
  content: "\e074";
}
.gvicon-food-09:before {
  content: "\e075";
}
.gvicon-food-10:before {
  content: "\e076";
}
.gvicon-food-11:before {
  content: "\e077";
}
.gvicon-food-12:before {
  content: "\e078";
}
.gvicon-food-13:before {
  content: "\e079";
}
.gvicon-food-14:before {
  content: "\e07a";
}
.gvicon-food-15:before {
  content: "\e07b";
}
.gvicon-food-16:before {
  content: "\e07c";
}
.gvicon-food-17:before {
  content: "\e07d";
}
.gvicon-food-18:before {
  content: "\e07e";
}
.gvicon-graphic-design-01:before {
  content: "\e07f";
}
.gvicon-graphic-design-02:before {
  content: "\e080";
}
.gvicon-graphic-design-03:before {
  content: "\e081";
}
.gvicon-graphic-design-04:before {
  content: "\e082";
}
.gvicon-graphic-design-05:before {
  content: "\e083";
}
.gvicon-graphic-design-06:before {
  content: "\e084";
}
.gvicon-graphic-design-07:before {
  content: "\e085";
}
.gvicon-graphic-design-08:before {
  content: "\e086";
}
.gvicon-graphic-design-09:before {
  content: "\e087";
}
.gvicon-graphic-design-10:before {
  content: "\e088";
}
.gvicon-graphic-design-11:before {
  content: "\e089";
}
.gvicon-graphic-design-12:before {
  content: "\e08a";
}
.gvicon-graphic-design-13:before {
  content: "\e08b";
}
.gvicon-graphic-design-14:before {
  content: "\e08c";
}
.gvicon-graphic-design-15:before {
  content: "\e08d";
}
.gvicon-graphic-design-16:before {
  content: "\e08e";
}
.gvicon-graphic-design-17:before {
  content: "\e08f";
}
.gvicon-graphic-design-18:before {
  content: "\e090";
}
.gvicon-graphic-design-19:before {
  content: "\e091";
}
.gvicon-graphic-design-20:before {
  content: "\e092";
}
.gvicon-graphic-design-21:before {
  content: "\e093";
}
.gvicon-graphic-design-22:before {
  content: "\e094";
}
.gvicon-graphic-design-23:before {
  content: "\e095";
}
.gvicon-graphic-design-24:before {
  content: "\e096";
}
.gvicon-graphic-design-25:before {
  content: "\e097";
}
.gvicon-graphic-design-26:before {
  content: "\e098";
}
.gvicon-graphic-design-27:before {
  content: "\e099";
}
.gvicon-graphic-design-28:before {
  content: "\e09a";
}
.gvicon-graphic-design-29:before {
  content: "\e09b";
}
.gvicon-graphic-design-30:before {
  content: "\e09c";
}
.gvicon-graphic-design-31:before {
  content: "\e09d";
}
.gvicon-graphic-design-32:before {
  content: "\e09e";
}
.gvicon-graphic-design-33:before {
  content: "\e09f";
}
.gvicon-graphic-design-34:before {
  content: "\e0a0";
}
.gvicon-medical-01:before {
  content: "\e0a1";
}
.gvicon-medical-02:before {
  content: "\e0a2";
}
.gvicon-medical-03:before {
  content: "\e0a3";
}
.gvicon-medical-04:before {
  content: "\e0a4";
}
.gvicon-medical-05:before {
  content: "\e0a5";
}
.gvicon-medical-06:before {
  content: "\e0a6";
}
.gvicon-medical-07:before {
  content: "\e0a7";
}
.gvicon-medical-08:before {
  content: "\e0a8";
}
.gvicon-medical-09:before {
  content: "\e0a9";
}
.gvicon-medical-10:before {
  content: "\e0aa";
}
.gvicon-medical-11:before {
  content: "\e0ab";
}
.gvicon-medical-12:before {
  content: "\e0ac";
}
.gvicon-medical-13:before {
  content: "\e0ad";
}
.gvicon-medical-14:before {
  content: "\e0ae";
}
.gvicon-medical-15:before {
  content: "\e0af";
}
.gvicon-medical-16:before {
  content: "\e0b0";
}
.gvicon-medical-17:before {
  content: "\e0b1";
}
.gvicon-medical-18:before {
  content: "\e0b2";
}
.gvicon-medical-19:before {
  content: "\e0b3";
}
.gvicon-medical-20:before {
  content: "\e0b4";
}
.gvicon-medical-21:before {
  content: "\e0b5";
}
.gvicon-medical-22:before {
  content: "\e0b6";
}
.gvicon-medical-23:before {
  content: "\e0b7";
}
.gvicon-medical-24:before {
  content: "\e0b8";
}
.gvicon-medical-25:before {
  content: "\e0b9";
}
.gvicon-medical-26:before {
  content: "\e0ba";
}
.gvicon-medical-27:before {
  content: "\e0bb";
}
.gvicon-medical-28:before {
  content: "\e0bc";
}
.gvicon-multimedia-01:before {
  content: "\e0bd";
}
.gvicon-multimedia-02:before {
  content: "\e0be";
}
.gvicon-multimedia-03:before {
  content: "\e0bf";
}
.gvicon-multimedia-04:before {
  content: "\e0c0";
}
.gvicon-multimedia-05:before {
  content: "\e0c1";
}
.gvicon-multimedia-06:before {
  content: "\e0c2";
}
.gvicon-multimedia-07:before {
  content: "\e0c3";
}
.gvicon-multimedia-08:before {
  content: "\e0c4";
}
.gvicon-multimedia-09:before {
  content: "\e0c5";
}
.gvicon-multimedia-10:before {
  content: "\e0c6";
}
.gvicon-multimedia-11:before {
  content: "\e0c7";
}
.gvicon-multimedia-12:before {
  content: "\e0c8";
}
.gvicon-multimedia-13:before {
  content: "\e0c9";
}
.gvicon-multimedia-14:before {
  content: "\e0ca";
}
.gvicon-multimedia-15:before {
  content: "\e0cb";
}
.gvicon-multimedia-16:before {
  content: "\e0cc";
}
.gvicon-multimedia-17:before {
  content: "\e0cd";
}
.gvicon-multimedia-18:before {
  content: "\e0ce";
}
.gvicon-multimedia-19:before {
  content: "\e0cf";
}
.gvicon-multimedia-20:before {
  content: "\e0d0";
}
.gvicon-multimedia-21:before {
  content: "\e0d1";
}
.gvicon-multimedia-22:before {
  content: "\e0d2";
}
.gvicon-multimedia-23:before {
  content: "\e0d3";
}
.gvicon-multimedia-24:before {
  content: "\e0d4";
}
.gvicon-multimedia-25:before {
  content: "\e0d5";
}
.gvicon-multimedia-26:before {
  content: "\e0d6";
}
.gvicon-multimedia-27:before {
  content: "\e0d7";
}
.gvicon-multimedia-28:before {
  content: "\e0d8";
}
.gvicon-multimedia-29:before {
  content: "\e0d9";
}
.gvicon-multimedia-30:before {
  content: "\e0da";
}
.gvicon-multimedia-31:before {
  content: "\e0db";
}
.gvicon-multimedia-32:before {
  content: "\e0dc";
}
.gvicon-multimedia-33:before {
  content: "\e0dd";
}
.gvicon-multimedia-34:before {
  content: "\e0de";
}
.gvicon-multimedia-35:before {
  content: "\e0df";
}
.gvicon-multimedia-36:before {
  content: "\e0e0";
}
.gvicon-multimedia-37:before {
  content: "\e0e1";
}
.gvicon-multimedia-38:before {
  content: "\e0e2";
}
.gvicon-multimedia-39:before {
  content: "\e0e3";
}
.gvicon-multimedia-40:before {
  content: "\e0e4";
}
.gvicon-nature-01:before {
  content: "\e0e5";
}
.gvicon-nature-02:before {
  content: "\e0e6";
}
.gvicon-nature-03:before {
  content: "\e0e7";
}
.gvicon-nature-04:before {
  content: "\e0e8";
}
.gvicon-nature-05:before {
  content: "\e0e9";
}
.gvicon-nature-06:before {
  content: "\e0ea";
}
.gvicon-nature-07:before {
  content: "\e0eb";
}
.gvicon-nature-08:before {
  content: "\e0ec";
}
.gvicon-nature-09:before {
  content: "\e0ed";
}
.gvicon-nature-10:before {
  content: "\e0ee";
}
.gvicon-nature-11:before {
  content: "\e0ef";
}
.gvicon-nature-12:before {
  content: "\e0f0";
}
.gvicon-nature-13:before {
  content: "\e0f1";
}
.gvicon-nature-14:before {
  content: "\e0f2";
}
.gvicon-office-01:before {
  content: "\e0f3";
}
.gvicon-office-01:before {
  content: "\e0f3";
}
.gvicon-shopping-15:before {
  content: "\e183";
}
.gvicon-shopping-16:before {
  content: "\e184";
}
.gvicon-shopping-17:before {
  content: "\e185";
}
.gvicon-shopping-18:before {
  content: "\e186";
}
.gvicon-shopping-19:before {
  content: "\e187";
}
.gvicon-shopping-20:before {
  content: "\e188";
}
.gvicon-shopping-21:before {
  content: "\e189";
}
.gvicon-shopping-22:before {
  content: "\e18a";
}
.gvicon-shopping-23:before {
  content: "\e18b";
}
.gvicon-shopping-24:before {
  content: "\e18c";
}
.gvicon-shopping-25:before {
  content: "\e18d";
}
.gvicon-shopping-26:before {
  content: "\e18e";
}
.gvicon-shopping-27:before {
  content: "\e18f";
}
.gvicon-socialmedia-01:before {
  content: "\e190";
}
.gvicon-socialmedia-02:before {
  content: "\e191";
}
.gvicon-socialmedia-03:before {
  content: "\e192";
}
.gvicon-socialmedia-04:before {
  content: "\e193";
}
.gvicon-socialmedia-05:before {
  content: "\e194";
}
.gvicon-socialmedia-06:before {
  content: "\e195";
}
.gvicon-socialmedia-07:before {
  content: "\e196";
}
.gvicon-socialmedia-08:before {
  content: "\e197";
}
.gvicon-socialmedia-09:before {
  content: "\e198";
}
.gvicon-socialmedia-10:before {
  content: "\e199";
}
.gvicon-socialmedia-11:before {
  content: "\e19a";
}
.gvicon-socialmedia-12:before {
  content: "\e19b";
}
.gvicon-socialmedia-13:before {
  content: "\e19c";
}
.gvicon-socialmedia-14:before {
  content: "\e19d";
}
.gvicon-socialmedia-15:before {
  content: "\e19e";
}
.gvicon-socialmedia-16:before {
  content: "\e19f";
}
.gvicon-socialmedia-17:before {
  content: "\e1a0";
}
.gvicon-socialmedia-18:before {
  content: "\e1a1";
}
.gvicon-socialmedia-19:before {
  content: "\e1a2";
}
.gvicon-socialmedia-20:before {
  content: "\e1a3";
}
.gvicon-socialmedia-21:before {
  content: "\e1a4";
}
.gvicon-socialmedia-22:before {
  content: "\e1a5";
}
.gvicon-socialmedia-23:before {
  content: "\e1a6";
}
.gvicon-socialmedia-24:before {
  content: "\e1a7";
}
.gvicon-socialmedia-25:before {
  content: "\e1a8";
}
.gvicon-socialmedia-26:before {
  content: "\e1a9";
}
.gvicon-socialmedia-27:before {
  content: "\e1aa";
}
.gvicon-socialmedia-28:before {
  content: "\e1ab";
}
.gvicon-socialmedia-29:before {
  content: "\e1ac";
}
.gvicon-sport-01:before {
  content: "\e1ad";
}
.gvicon-sport-02:before {
  content: "\e1ae";
}
.gvicon-sport-03:before {
  content: "\e1af";
}
.gvicon-sport-04:before {
  content: "\e1b0";
}
.gvicon-sport-05:before {
  content: "\e1b1";
}
.gvicon-sport-06:before {
  content: "\e1b2";
}
.gvicon-sport-07:before {
  content: "\e1b3";
}
.gvicon-sport-08:before {
  content: "\e1b4";
}
.gvicon-sport-09:before {
  content: "\e1b5";
}
.gvicon-sport-10:before {
  content: "\e1b6";
}
.gvicon-sport-11:before {
  content: "\e1b7";
}
.gvicon-sport-12:before {
  content: "\e1b8";
}
.gvicon-sport-13:before {
  content: "\e1b9";
}
.gvicon-sport-14:before {
  content: "\e1ba";
}
.gvicon-sport-15:before {
  content: "\e1bb";
}
.gvicon-sport-16:before {
  content: "\e1bc";
}
.gvicon-sport-17:before {
  content: "\e1bd";
}
.gvicon-sport-18:before {
  content: "\e1be";
}
.gvicon-text-hierarchy-01:before {
  content: "\e1bf";
}
.gvicon-text-hierarchy-02:before {
  content: "\e1c0";
}
.gvicon-text-hierarchy-03:before {
  content: "\e1c1";
}
.gvicon-text-hierarchy-04:before {
  content: "\e1c2";
}
.gvicon-text-hierarchy-05:before {
  content: "\e1c3";
}
.gvicon-text-hierarchy-06:before {
  content: "\e1c4";
}
.gvicon-text-hierarchy-07:before {
  content: "\e1c5";
}
.gvicon-text-hierarchy-08:before {
  content: "\e1c6";
}
.gvicon-text-hierarchy-09:before {
  content: "\e1c7";
}
.gvicon-text-hierarchy-10:before {
  content: "\e1c8";
}
.gvicon-touch-gestures-01:before {
  content: "\e1c9";
}
.gvicon-touch-gestures-02:before {
  content: "\e1ca";
}
.gvicon-touch-gestures-03:before {
  content: "\e1cb";
}
.gvicon-touch-gestures-04:before {
  content: "\e1cc";
}
.gvicon-touch-gestures-05:before {
  content: "\e1cd";
}
.gvicon-touch-gestures-06:before {
  content: "\e1ce";
}
.gvicon-touch-gestures-07:before {
  content: "\e1cf";
}
.gvicon-touch-gestures-08:before {
  content: "\e1d0";
}
.gvicon-touch-gestures-09:before {
  content: "\e1d1";
}
.gvicon-touch-gestures-10:before {
  content: "\e1d2";
}
.gvicon-touch-gestures-11:before {
  content: "\e1d3";
}
.gvicon-touch-gestures-12:before {
  content: "\e1d4";
}
.gvicon-touch-gestures-13:before {
  content: "\e1d5";
}
.gvicon-touch-gestures-14:before {
  content: "\e1d6";
}
.gvicon-touch-gestures-15:before {
  content: "\e1d7";
}
.gvicon-touch-gestures-16:before {
  content: "\e1d8";
}
.gvicon-touch-gestures-17:before {
  content: "\e1d9";
}
.gvicon-touch-gestures-18:before {
  content: "\e1da";
}
.gvicon-touch-gestures-19:before {
  content: "\e1db";
}
.gvicon-touch-gestures-20:before {
  content: "\e1dc";
}
.gvicon-touch-gestures-21:before {
  content: "\e1dd";
}
.gvicon-touch-gestures-22:before {
  content: "\e1de";
}
.gvicon-touch-gestures-23:before {
  content: "\e1df";
}
.gvicon-touch-gestures-24:before {
  content: "\e1e0";
}
.gvicon-travel-transportation-01:before {
  content: "\e1e1";
}
.gvicon-travel-transportation-02:before {
  content: "\e1e2";
}
.gvicon-travel-transportation-03:before {
  content: "\e1e3";
}
.gvicon-travel-transportation-04:before {
  content: "\e1e4";
}
.gvicon-travel-transportation-05:before {
  content: "\e1e5";
}
.gvicon-travel-transportation-06:before {
  content: "\e1e6";
}
.gvicon-travel-transportation-07:before {
  content: "\e1e7";
}
.gvicon-travel-transportation-08:before {
  content: "\e1e8";
}
.gvicon-travel-transportation-09:before {
  content: "\e1e9";
}
.gvicon-travel-transportation-10:before {
  content: "\e1ea";
}
.gvicon-travel-transportation-11:before {
  content: "\e1eb";
}
.gvicon-travel-transportation-12:before {
  content: "\e1ec";
}
.gvicon-travel-transportation-13:before {
  content: "\e1ed";
}
.gvicon-travel-transportation-14:before {
  content: "\e1ee";
}
.gvicon-travel-transportation-15:before {
  content: "\e1ef";
}
.gvicon-travel-transportation-16:before {
  content: "\e1f0";
}
.gvicon-travel-transportation-17:before {
  content: "\e1f1";
}
.gvicon-travel-transportation-18:before {
  content: "\e1f2";
}
.gvicon-travel-transportation-19:before {
  content: "\e1f3";
}
.gvicon-travel-transportation-20:before {
  content: "\e1f4";
}
.gvicon-weather-01:before {
  content: "\e1f5";
}
.gvicon-weather-02:before {
  content: "\e1f6";
}
.gvicon-weather-03:before {
  content: "\e1f7";
}
.gvicon-weather-04:before {
  content: "\e1f8";
}
.gvicon-weather-05:before {
  content: "\e1f9";
}
.gvicon-weather-06:before {
  content: "\e1fa";
}
.gvicon-weather-07:before {
  content: "\e1fb";
}
.gvicon-weather-08:before {
  content: "\e1fc";
}
.gvicon-weather-09:before {
  content: "\e1fd";
}
.gvicon-weather-10:before {
  content: "\e1fe";
}
.gvicon-weather-11:before {
  content: "\e1ff";
}
.gvicon-weather-12:before {
  content: "\e200";
}
.gvicon-weather-13:before {
  content: "\e201";
}
.gvicon-weather-14:before {
  content: "\e202";
}
.gvicon-office-02:before {
  content: "\e0f4";
}
.gvicon-office-03:before {
  content: "\e0f5";
}
.gvicon-office-04:before {
  content: "\e0f6";
}
.gvicon-office-05:before {
  content: "\e0f7";
}
.gvicon-office-06:before {
  content: "\e0f8";
}
.gvicon-office-07:before {
  content: "\e0f9";
}
.gvicon-office-08:before {
  content: "\e0fa";
}
.gvicon-office-09:before {
  content: "\e0fb";
}
.gvicon-office-10:before {
  content: "\e0fc";
}
.gvicon-office-11:before {
  content: "\e0fd";
}
.gvicon-office-12:before {
  content: "\e0fe";
}
.gvicon-office-13:before {
  content: "\e0ff";
}
.gvicon-office-14:before {
  content: "\e100";
}
.gvicon-office-15:before {
  content: "\e101";
}
.gvicon-office-16:before {
  content: "\e102";
}
.gvicon-office-17:before {
  content: "\e103";
}
.gvicon-office-18:before {
  content: "\e104";
}
.gvicon-office-19:before {
  content: "\e105";
}
.gvicon-office-20:before {
  content: "\e106";
}
.gvicon-office-21:before {
  content: "\e107";
}
.gvicon-office-22:before {
  content: "\e108";
}
.gvicon-office-23:before {
  content: "\e109";
}
.gvicon-office-24:before {
  content: "\e10a";
}
.gvicon-office-25:before {
  content: "\e10b";
}
.gvicon-office-26:before {
  content: "\e10c";
}
.gvicon-office-27:before {
  content: "\e10d";
}
.gvicon-office-28:before {
  content: "\e10e";
}
.gvicon-office-29:before {
  content: "\e10f";
}
.gvicon-office-30:before {
  content: "\e110";
}
.gvicon-office-31:before {
  content: "\e111";
}
.gvicon-office-32:before {
  content: "\e112";
}
.gvicon-office-33:before {
  content: "\e113";
}
.gvicon-office-34:before {
  content: "\e114";
}
.gvicon-office-35:before {
  content: "\e115";
}
.gvicon-office-36:before {
  content: "\e116";
}
.gvicon-office-37:before {
  content: "\e117";
}
.gvicon-office-38:before {
  content: "\e118";
}
.gvicon-office-39:before {
  content: "\e119";
}
.gvicon-office-40:before {
  content: "\e11a";
}
.gvicon-office-41:before {
  content: "\e11b";
}
.gvicon-office-42:before {
  content: "\e11c";
}
.gvicon-office-43:before {
  content: "\e11d";
}
.gvicon-office-44:before {
  content: "\e11e";
}
.gvicon-office-45:before {
  content: "\e11f";
}
.gvicon-office-46:before {
  content: "\e120";
}
.gvicon-office-47:before {
  content: "\e121";
}
.gvicon-office-48:before {
  content: "\e122";
}
.gvicon-office-49:before {
  content: "\e123";
}
.gvicon-office-50:before {
  content: "\e124";
}
.gvicon-office-51:before {
  content: "\e125";
}
.gvicon-office-52:before {
  content: "\e126";
}
.gvicon-office-53:before {
  content: "\e127";
}
.gvicon-office-54:before {
  content: "\e128";
}
.gvicon-office-55:before {
  content: "\e129";
}
.gvicon-office-56:before {
  content: "\e12a";
}
.gvicon-office-57:before {
  content: "\e12b";
}
.gvicon-office-58:before {
  content: "\e12c";
}
.gvicon-office-59:before {
  content: "\e12d";
}
.gvicon-office-60:before {
  content: "\e12e";
}
.gvicon-office-61:before {
  content: "\e12f";
}
.gvicon-party-01:before {
  content: "\e130";
}
.gvicon-party-02:before {
  content: "\e131";
}
.gvicon-party-03:before {
  content: "\e132";
}
.gvicon-party-04:before {
  content: "\e133";
}
.gvicon-party-05:before {
  content: "\e134";
}
.gvicon-party-06:before {
  content: "\e135";
}
.gvicon-party-07:before {
  content: "\e136";
}
.gvicon-party-08:before {
  content: "\e137";
}
.gvicon-party-09:before {
  content: "\e138";
}
.gvicon-party-10:before {
  content: "\e139";
}
.gvicon-party-11:before {
  content: "\e13a";
}
.gvicon-realestate-living-01:before {
  content: "\e13b";
}
.gvicon-realestate-living-02:before {
  content: "\e13c";
}
.gvicon-realestate-living-03:before {
  content: "\e13d";
}
.gvicon-realestate-living-04:before {
  content: "\e13e";
}
.gvicon-realestate-living-05:before {
  content: "\e13f";
}
.gvicon-realestate-living-06:before {
  content: "\e140";
}
.gvicon-realestate-living-07:before {
  content: "\e141";
}
.gvicon-realestate-living-08:before {
  content: "\e142";
}
.gvicon-realestate-living-09:before {
  content: "\e143";
}
.gvicon-realestate-living-10:before {
  content: "\e144";
}
.gvicon-realestate-living-11:before {
  content: "\e145";
}
.gvicon-realestate-living-12:before {
  content: "\e146";
}
.gvicon-realestate-living-13:before {
  content: "\e147";
}
.gvicon-realestate-living-14:before {
  content: "\e148";
}
.gvicon-realestate-living-15:before {
  content: "\e149";
}
.gvicon-realestate-living-16:before {
  content: "\e14a";
}
.gvicon-seo-icons-01:before {
  content: "\e14b";
}
.gvicon-seo-icons-02:before {
  content: "\e14c";
}
.gvicon-seo-icons-03:before {
  content: "\e14d";
}
.gvicon-seo-icons-04:before {
  content: "\e14e";
}
.gvicon-seo-icons-05:before {
  content: "\e14f";
}
.gvicon-seo-icons-06:before {
  content: "\e150";
}
.gvicon-seo-icons-07:before {
  content: "\e151";
}
.gvicon-seo-icons-08:before {
  content: "\e152";
}
.gvicon-seo-icons-09:before {
  content: "\e153";
}
.gvicon-seo-icons-10:before {
  content: "\e154";
}
.gvicon-seo-icons-11:before {
  content: "\e155";
}
.gvicon-seo-icons-12:before {
  content: "\e156";
}
.gvicon-seo-icons-13:before {
  content: "\e157";
}
.gvicon-seo-icons-14:before {
  content: "\e158";
}
.gvicon-seo-icons-15:before {
  content: "\e159";
}
.gvicon-seo-icons-16:before {
  content: "\e15a";
}
.gvicon-seo-icons-17:before {
  content: "\e15b";
}
.gvicon-seo-icons-18:before {
  content: "\e15c";
}
.gvicon-seo-icons-19:before {
  content: "\e15d";
}
.gvicon-seo-icons-20:before {
  content: "\e15e";
}
.gvicon-seo-icons-21:before {
  content: "\e15f";
}
.gvicon-seo-icons-22:before {
  content: "\e160";
}
.gvicon-seo-icons-23:before {
  content: "\e161";
}
.gvicon-seo-icons-24:before {
  content: "\e162";
}
.gvicon-seo-icons-25:before {
  content: "\e163";
}
.gvicon-seo-icons-26:before {
  content: "\e164";
}
.gvicon-seo-icons-27:before {
  content: "\e165";
}
.gvicon-seo-icons-28:before {
  content: "\e166";
}
.gvicon-seo-icons-29:before {
  content: "\e167";
}
.gvicon-seo-icons-30:before {
  content: "\e168";
}
.gvicon-seo-icons-31:before {
  content: "\e169";
}
.gvicon-seo-icons-32:before {
  content: "\e16a";
}
.gvicon-seo-icons-33:before {
  content: "\e16b";
}
.gvicon-seo-icons-34:before {
  content: "\e16c";
}
.gvicon-seo-icons-35:before {
  content: "\e16d";
}
.gvicon-seo-icons-36:before {
  content: "\e16e";
}
.gvicon-seo-icons-37:before {
  content: "\e16f";
}
.gvicon-seo-icons-38:before {
  content: "\e170";
}
.gvicon-seo-icons-39:before {
  content: "\e171";
}
.gvicon-seo-icons-40:before {
  content: "\e172";
}
.gvicon-seo-icons-41:before {
  content: "\e173";
}
.gvicon-seo-icons-42:before {
  content: "\e174";
}
.gvicon-shopping-01:before {
  content: "\e175";
}
.gvicon-shopping-02:before {
  content: "\e176";
}
.gvicon-shopping-03:before {
  content: "\e177";
}
.gvicon-shopping-04:before {
  content: "\e178";
}
.gvicon-shopping-05:before {
  content: "\e179";
}
.gvicon-shopping-06:before {
  content: "\e17a";
}
.gvicon-shopping-07:before {
  content: "\e17b";
}
.gvicon-shopping-08:before {
  content: "\e17c";
}
.gvicon-shopping-09:before {
  content: "\e17d";
}
.gvicon-shopping-10:before {
  content: "\e17e";
}
.gvicon-shopping-11:before {
  content: "\e17f";
}
.gvicon-shopping-12:before {
  content: "\e180";
}
.gvicon-shopping-13:before {
  content: "\e181";
}
.gvicon-shopping-14:before {
  content: "\e182";
}
